<div class="container">
    <NewComponent/>
</div>

<style>
    .container {
        padding: 20px;
        margin: 0 auto;
        width: 500px;
    }
</style>

<script>
  import NewComponent from './NewComponent.html';

  export default {
    components: {
      NewComponent
    }
  };
</script>
